@model IEnumerable<Project>
@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_LayoutWithoutBanner.cshtml";
}
@{ 
    ICollection< Project> projects = new List<Project>();
    projects = Model.ToList();
}
<h1 class="text-center">Projets:</h1>
<div class="d-flex flex-wrap justify-content-around">
    @foreach (Project project in projects)
    {
        Machine machine = new Machine();
                machine = project.Machine;

    <div class="card m-3" style="width:25em">
        <img class="card-img-top" src="/images/ender3.jpg" alt="project image">
        <div class="card-body">
            <h5 class="card-title">@project.Name</h5>
            <div class="d-flex justify-content-between mb-3">
                <ul class="list-group " style="list-style:none">
                    
                    <li class="">
                        <p style="width:100%">
                            <img src="~/images/badgesMetier/automatismeRobotique.png" alt="" style="height:50px; " />
                            automatisme 
                        </p>
                    </li>
                    <li class="">
                        <img src="~/images/badgesMetier/chaudronnerieSoudage.png" alt="" style="height:50px; " />
                        chaudronnerie
                    </li>
                    <li class="">
                        <img src="~/images/badgesMetier/electronique.png" alt="" style="height:50px; " />
                        electronique
                    </li>
                    <li class="">
                        <img src="~/images/badgesMetier/usinage.png" alt="" style="height:50px; " />
                        usinage
                    </li>
                </ul>
                <div>
                    <img src="@project.ImageUrl" style="width:150px;" />
                    <p></p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn " style="background-color:#f6c4c4" asp-area="" asp-controller="Home" asp-action="Project" asp-route-IdProject="@project.ProjectId">Voir ce projet</a>
            </div>
        </div>
    </div>
    }
</div>