
@{
    ViewData["Title"] = "Tutoriels";
    Layout = "~/Views/Shared/_LayoutWithoutBanner.cshtml";
}
<div class="container-fluid p-0 " style="        background-image: url(https://wild.milhie.fr/imagesArtilect/crealityEnder.jpg ); background-repeat:no-repeat; background-position:center;
        background-color: rgba(0,0,0,0.3);
        height: 300px;
        background-size: contain">
    <div class="" style="height:100%; width:100%; background-color: rgba(0,0,0,0.1);">
        <br />
    </div>
</div>
<section class="container-fluid">

    <h1 class="text-center m-4">
        Amélioration de la Creality Ender3 (Imprimante 3D)
    </h1>
    <section class="container-fluid m-3 d-flex flex-column flex-lg-row">
        <aside class="container-fluid m-auto  m-lg-3  p-0">
            <div class="border m-auto">
                <div class="text-center"><img src="~/images/badgesProject/imp3D.png" class="text-center w-50 mt-3 mb-3" /></div>
                <div class="m-auto m-lg-3">
                    <iframe class="m-auto m-3 d-none d-lg-flex" width="560" height="315" src="https://www.youtube.com/embed/ZMLHV_yF6a8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="m-auto m-3 d-flex d-lg-none" width="250" height="150" src="https://www.youtube.com/embed/ZMLHV_yF6a8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </aside>
        <article class="container-fluid  mt-3  p-0">
            <div class="card">
                <img class="card-img-top" src="/images/ender3.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        L’Ender3 est une imprimante entrée de gamme qui a changé la donne dans le monde de l’impression 3D. C’est un modèle abordable à moins de 200€. On peut même les trouver aux alentours de 150€ ce qui rend l’impression 3D très abordable. Sa qualité d’impression est impressionnante au regard du prix, mais elle peut être améliorée par quelques Hacks que nous allons voir dans cette vidéo.
                        <br />
                        <br />
                        Lien vers les pièces imprimables sur Thingiverse
                        <br />
                        – Le capot de protection: <a href="https://www.youtube.com/redirect?redir_token=QUFFLUhqbnpIdktUVUhCSGtOcDd4S1FpYWhJeWtLVnhKUXxBQ3Jtc0tra19ZUmRIeUhhRmtyZU5wWWZweDlqdTVyUkZDMGt5WGdOYV9HcmphNzFsNGVxTDc3RTJDNmdLQ2ktZVpyVnBPT3hfMGpSMTJuWVlvem9SbGd4ekhocDFNMHZZWHNZT2QxeTJYc2tCMXVQRjlTNVozWQ%3D%3D&event=video_description&v=ZMLHV_yF6a8&q=https%3A%2F%2Fwww.thingiverse.com%2Fthing%3A3505548"> https://www.thingiverse.com/thing:350…</a>
                        <br />
                        – Le guide fil: <a href="https://www.youtube.com/redirect?redir_token=QUFFLUhqa3hSUTVCWW8wRmZVTDNqdkJkNnlRb01WSU9aZ3xBQ3Jtc0tseWlnWXBQNVFxNlEyV2Z3aDNNeVlla0lLU1lmc2I2WmhZX2V2bDZDTE5LRzdvczRrdDM5bnpSZ0I2bEhEZzdUQzVYdjZEbmduTW1YcW4zQzRHR1ZkclJ0ckRPS09kQWlHV3YyRW0wVWJOTmdxUUh2bw%3D%3D&event=video_description&v=ZMLHV_yF6a8&q=https%3A%2F%2Fwww.thingiverse.com%2Fthing%3A3052488"> https://www.thingiverse.com/thing:305…</a>
                        <br />
                        <br />

                        N’hésitez pas à nous faire savoir si cela vous a été utile et quelles vidéos vous souhaiteriez sur les machines que l’on trouve en général dans les Fablabs.
                    </p>
                </div>
            </div>
        </article>


    </section>

</section>